.medical-record {
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.medical-record p {
    color: grey;
    margin: auto;
}

.medical-record h3 {
    color: grey;
    margin: auto;
    margin-bottom: 3vh;
}

.medical-record__records {
    min-height: 40vh;
}

.medical-record__paginator nav {
    width: fit-content;
    margin: auto;
}

